<div class="container">
    <div class="texto-primario p-3">
        <h1 class="titulo text-center">PROCESOS PRODUCTO:<span><strong>SILLA</strong></span></h1>
    </div>

     <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Procesos</th>
                <th>Cantidad de Productos</th>
                <th>Porcentaje de Avance</th>
                <th>Acciones</th>
            </tr>
        </thead>
        </tfoot>
        <tbody>
            <tr>
                <td>1</td>
                <td>50</td>
                <td>50<span>%</span></td>
                <td><a href="#"><i class="fas fa-clipboard-check"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>25</td>
                <td>25<span>%</span></td>
                <td><a href="#"><i class="fas fa-clipboard-check"></i></a></td>
            </tr>
             <tr>
                <td>Terminado</td>
                <td>25</td>
                <td>25<span>%</span></td>
                <td><a href="#"><i class="fas fa-clipboard-check"></i></a></td>
            </tr>
           
        </tbody>

        
    </table>
</div>
