{{> navigation }}
<div id="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/costeo/producto_proceso">
                    Productos en Proceso
                </a>
            </li>
            <li class="breadcrumb-item active">Productos Terminados</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="texto-primario">
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"></i>
            <a href="/costeo/producto_salida">
                <strong>¡Registrar Salida de Producto!</strong>
            </a>
        </div>
        <h1 class="titulo text-center">INVENTARIO PRODUCTO TERMINADO</h1>
        <select class="m-2 form-control" name="productos" id="productos">
            <option value="silla">Silla</option> 
            <option value="mesa" selected>Mesa</option>
        </select>
    </div>

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Detalle</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
            </tr>
        </thead>
        </tfoot>
        <tbody>
            <tr>
                <td>10/05/10</td>
                <td>Saldo Anterior</td>
                <td>10</td>
                <td>10.00</td>

            </tr>
            <tr>
                <td>12/05/10</td>
                <td>Venta</td>
                <td>8</td>
                <td>11.00</td>
            </tr>
            <tr>
                <td>12/05/10</td>
                <td>Venta</td>
                <td>2</td>
                <td>8.00</td>
            </tr>
            <tr>
                <td>12/05/10</td>
                <td>Saldo Final</td>
                <td>2</td>
                <td>8.00</td>
            </tr>
           
        </tbody>

        
    </table>

</div>

