{{> navigation }}
<div id="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/costeo/producto_proceso">
                    Productos en Proceso
                </a>
            </li>
            <li class="breadcrumb-item active">Productos Terminados</li>
        </ol>
    </div>
</div>
<div class="container">
    

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Detalle</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
            </tr>
        </thead>
        </tfoot>
        <tbody>
              {{#each productoTerminado}}

            <tr>
                <td>{{fechaterminado}}</td>
                <td>{{detalle}}</td>
                <td>{{cantidadproducto}}</td>
                <td>{{preciounitario}}</td>
              
            </tr>
            {{/each}}
           
        </tbody>

        
    </table>

</div>

