{{> navigation }}
<div id="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Productos en Procesos</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="texto-primario">
        <div class="alert bold alert-info">
            <i class="fas fw fa-plus-circle"></i>
            <a href="agregar_productos_proceso">
                <strong>¡Agregar Productos a Proceso!</strong>
            </a>
        </div>
        <div class="alert bold alert-info">
            <i class="fas fw fa-plus-circle"></i>
            <a href="/costeo/producto_terminado_entrada">
                <strong>¡Productos Terminados!</strong>
            </a>
        </div>
        <h1 class="titulo text-center">PRODUCTOS EN PROCESO</h1>
    </div>
     <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        </tfoot>
        <tbody>
            {{#each productoproc}}
            <tr>
                <td>{{tipoproducto}}</td>
                <td><a href="/costeo/detalle_producto_proceso/{{id}}"><i class="fas fa-clipboard-list"></i></a></td>
            </tr>
           {{/each}}
           
        </tbody>

        
    </table>
</div>
