<div class="container">
    <div class="texto-primario">
        <h1 class="titulo text-center">PRODUCTOS EN PROCESO</h1>
    </div>
    <a href="#" class="btn m-3 btn-success"> Agregar Productos a Proceso</a>
    
     <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        </tfoot>
        <tbody>
            {{#each productoproceso}}
            <tr>
                <td>{{nombre}}</td>
                <td><a href="/detalle_producto_proceso/{{id}}"><i class="fas fa-clipboard-list"></i></a></td>
            </tr>
           {{/each}}
           
        </tbody>

        
    </table>
</div>
