<div class="container">
    <div class="texto-primario">
        <h1 class="titulo text-center">PRODUCTOS EN PROCESO</h1>
    </div>
    <a href="#" class="btn m-3 btn-success"> Agregar Productos a Proceso</a>
    
     <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        </tfoot>
        <tbody>
            <tr>
                <td>Silla</td>
                <td><a href="#"><i class="fas fa-clipboard-list"></i></a></td>
            </tr>
            <tr>
                <td>Mesa</td>
                <td><a href="#"><i class="fas fa-clipboard-list"></i></a></td>
            </tr>
           
        </tbody>

        
    </table>
</div>
