{{> navigation }}
<div class="container">
    <div class="texto-primario">
        <h1 class="titulo text-center">LISTADO DE MATERIAS PRIMAS</h1>
        <a href="crear_materia_prima" class="btn m-3 btn-success">Crear Materia Prima</a>
        <a href="materia_prima_entrada" class="btn m-3 btn-success">Agregar Materia Prima</a>
    </div>
    <div class="texto-secundario">
        <h2 class="subtitulo text-center">LISTADO</h2>
    </div>

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Existencias</th>
                <th>Accion</th>
            </tr>
        </thead>
         {{#if user.permiso}}
            <tbody>
            {{#each materiasprimas}}
            {{!-- {{#if user.permiso}} --}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{existencias}}</td>
                <td>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#" class="delete borrar"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>  
            {{!-- {{/if}} --}}
             {{/each}}     
        </tbody>
        {{/if}}
        
    </table>
</div>

