{{> navigation }}
<div id="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    Sistema Administrativo
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/costeo/listar_materia_prima">
                    Materia Prima
                </a>
            </li>
            <li class="breadcrumb-item active">Entrada Materia Prima</li>
        </ol>
    </div>
</div>

    <div class="container">
        <div class="texto-primario">
            <div class="alert bold alert-info">
                <i class="fas fw fa-plus-circle"></i>
                <a href="materia_prima_entrada">
                    <strong>¡Registrar Entrada de Materia Prima!</strong>
                </a>
            </div>
        </div>
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"></i>
            <a href="materia_prima_salida">
                <strong>¡Salida de Materia Prima!</strong>
            </a>
        </div>
    
    <div>
        <h1 class="titulo text-center">INVENTARIO ENTRADA MATERIA PRIMA</h1>
        <select class="m-2 form-control" name="productos" id="productos">
            <option value="silla">Silla</option>
            <option value="mesa" selected>Mesa</option>
        </select>
    </div>

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
            </tr>
        </thead>
        </tfoot>
        <tbody>
            {{#each entradaMateriasPrimas}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{fecha}}</td>
                <td>{{cantidad}}</td>
                <td>{{preciounitario}}</td>
            </tr>
            {{/each}}

        </tbody>


    </table>

</div>