{{> navigation }}
<div class="container">
    <div class="texto-primario">
        <h1 class="titulo text-center">INVENTARIO MATERIA PRIMA</h1>
        <a href="entrada_materia_prima_saldo" class="btn m-3 btn-success">Registrar Entrada de Materia Prima</a>
          <a href="materia_prima_salida" class="btn m-3 btn-success">Salida de Materia Prima</a>
        <select class="m-2 form-control" name="productos" id="productos">
            <option value="silla">Silla</option> 
            <option value="mesa" selected>Mesa</option>
        </select>
    </div>
    <div class="texto-secundario">
        <h2 class="subtitulo text-center">Entradas</h2>
    </div>

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
            </tr>
        </thead>
        </tfoot>
        <tbody>
            {{#each entradaMateriasPrimas}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{fecha}}</td>
                <td>{{cantidad}}</td>
                <td>{{preciounitario}}</td>
            </tr>
            {{/each}}
           
        </tbody>

        
    </table>

</div>
