{{> navigation }}
<div id="content-wrapper">
        <div class="container-fluid">
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="/">
                        Sistema Administrativo
                        </a>
                </li>
                <li class="breadcrumb-item active">Materia Prima</li>
                </ol>
        </div>
<div class="container">
    <div class="texto-primario">
        <div class="alert bold alert-info">
                        <i class="fas fw fa-plus-circle"></i>
                        <a href="materia_prima_entrada">
                        <strong>¡Agregar Materia Prima!</strong>
                        </a>
                </div>
    </div>
        <h1 class="titulo text-center">LISTADO DE MATERIAS PRIMAS</h1>
    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Existencias</th>
                <th>Accion</th>
            </tr>
        </thead>
         {{#if user.permiso}}
            <tbody>
            {{#each materiasprimas}}
            {{!-- {{#if user.permiso}} --}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{existencias}}</td>
                <td>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#" class="delete borrar"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>  
            {{!-- {{/if}} --}}
             {{/each}}     
        </tbody>
        {{/if}}
        
    </table>
</div>

