<div class="container">
    <div class="texto-primario">
        <h1 class="titulo text-center">INVENTARIO MATERIA PRIMA</h1>
        <a href="entrada_materia_prima_saldo" class="btn m-3 btn-success">Registrar Entrada de Materia Prima</a>
        <select class="m-2 form-control" name="productos" id="productos">
            <option value="silla">Silla</option> 
            <option value="mesa" selected>Mesa</option>
        </select>
    </div>
    <div class="texto-secundario">
        <h2 class="subtitulo text-center">Entradas</h2>
    </div>

    <table id="datatable" class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Detalle</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
            </tr>
        </thead>
        </tfoot>
        <tbody>
            <tr>
                <td>11/05/10</td>
                <td>Saldo Anterior</td>
                <td>10</td>
                <td>10.00</td>

            </tr>
            <tr>
                <td>12/05/10</td>
                <td>Venta</td>
                <td>8</td>
                <td>11.00</td>
            </tr>
            <tr>
                <td>12/05/10</td>
                <td>Venta</td>
                <td>2</td>
                <td>8.00</td>
            </tr>
            <tr>
                <td>12/05/10</td>
                <td>Saldo Final</td>
                <td>2</td>
                <td>8.00</td>
            </tr>
           
        </tbody>

        
    </table>

</div>
