{{> navigation }}
<div class="container-fluid">
        <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="/">
                        Sistema Administrativo
                        </a>
                </li>
                <li class="breadcrumb-item active">Agregar periodo contable</li>
                </ol>
        <div class="row">
                <div class="col-md-4 mx-auto">
                        <div class="card">
                                <div class="card-header">
                                         <i class="fas fa-clock"></i>
                                        Periodo contable
                                </div>
                                <div class="card-body">
                                        <form action="/agregar_periodo" method="POST">
                                                <div class="form-group">
                                                        <a>Fecha inicio:</a>
                                                        <input name="fecha" class="form-control" data-date-format="yyyy-mm-dd" id="datepicker">
                                                        {{> fecha }}
                                                </div>
                                                <div class="form-group">
                                                        <button class="btn btn-primary btn-block">Iniciar periodo contable</button>
                                                </div>
                                        </form>
                                        <div class="form-group">
                                                <button id="cancel" class="btn btn-secondary btn-block">Cancelar</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
{{> footer }}
<script type="text/javascript">
        $(document).ready(function(){
                //Funcion para el boton "cancelar"
                $("#cancel").click(function() {
                        swal.fire({
                                title: '¿Esta seguro de cancelar el registro?',
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Aceptar',
                                cancelButtonText: 'Cancelar',
                        }).then((result) => {
                                if (result.value) {
                                        location.href="/contabilidad_general/periodo_contable";
                                }
                        });
                });
        });
</script>
