<div id="monto_ajuste_1" class="form-group">
      <input type="checkbox" onclick="agregar_monto()" name="Tipo_ajuste1" id="cb_monto_ajuste" value="false">Calcular Monto                          
</div>