<div id="valor_recuperacion1" class="form-group">
        <a>Monto del valor de recuperación:</a>
        <input id="valor_recuperacion" type="number" name="valor_recuperacion" class="form-control" placeholder="Monto valor recuperación">
</div>