<div id="interes_1" class="form-group">
        <a>Interes por mes (valor entero):</a>
        <input id="interes_mes" type="number" name="interes_mes" class="form-control" placeholder="Interes por mes">
</div>