<div id="canti_materia_1" class="form-group">
        <a>Cantidad de materia prima: (En unidades)</a>
        <input id="id_cantidad" type="number" name="cantidad" class="form-control" placeholder="Cantidad de materia prima">
</div>