{{> navigation }}
<div id="content-wrapper">
        <div class="container-fluid">
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                                <a href="/contabilidad_general">
                                Contabilidad General
                                </a>
                        </li>
                        <li class="breadcrumb-item active">Transaccion</li>
                </ol>
                <div class="alert bold alert-info">
                        <i class="fas fw fa-plus-circle"></i>
                        <a href="/contabilidad_general/transaccion/agregar_transaccion">
                        <strong>¡Click Aquí para agregar una nueva transaccion!</strong>
                        </a>
                </div>
                <div class="card mb-3">
                        <div class="card-header">
                                <i class="fas fa-table"></i>
                                Transacciones
                        </div>
                        <div class="card-body">
                                <a>Seleccione el periodo para ver las transacciones de dicho periodo:</a>
                                <select id="periodo" class="form-control" name="select">
                                        <option value="0" selected>Seleccione</option>
                                        {{#each periodocontable}}
                                        <option value="{{ID_PERIODOCONTABLE}}">DE  {{FECHA_PERIODO}}  A  {{FECHA_PERIODO_FINAL}}</option> 
                                        {{else}}
                                        <option value="0" selected>---------------</option>
                                        {{/each}}
                                </select>
                        </div>
                        <div class="card-body">
                                <div id="prueba" class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                        <tr>
                                                                <th># Id </th>
                                                                <th>Tipo de transacción</th>
                                                                <th>Descripción</th>
                                                                <th>Fecha</th>
                                                                <th>Monto</th>
                                                                <th>Operaciones</th>
                                                        </tr>
                                                </thead>
                                        </table>
                                </div>
                        </div>
                </div>
        </div>
</div>
{{> footer }}
<script type="text/javascript">
        $('#periodo').change(function(){            
                var seleccionada = $('#periodo').val();
                var url_nueva = "/contabilidad_general/listar_transaccion_select/"+seleccionada;
                console.log("AJAX: "+seleccionada);
                if(seleccionada != ''){
                        $.ajax({
                                type: 'get',
                                url: url_nueva,
                                success: function(data){
                                        console.log("SUCCESS");
                                        $("#dataTable").remove();
                                        $('#prueba').html(data);
                                },
                        }).done(function(data){
                                
                        });
                    }
                else{
                        $(".dataTables_empty").remove();
                }
        });

        /*$("#realizar_transaccion").click(function() {
                swal.fire({
                        title: '¿Esta seguro de realizar ajuste a esta transacción?',
                        text: 'NOTA: Se generará un balance de comprobacion inicial. Puede verificarlo en la parte de Estados Financieros',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Aceptar',
                        cancelButtonText: 'Cancelar',
                }).then((result) => {
                        if (result.value) {
                                location.href="/contabilidad_general/transaccion";
                        }
                });
        });*/
</script>