<div id="content-wrapper">
        <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/contabilidad_general">
                            Contabilidad General
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Periodos contables</li>
                </ol>
                <!-- DataTables -->
                <div class="alert bold alert-info">
                        <i class="fas fw fa-plus-circle"></i>
                        <a href="/contabilidad_general/periodo_contable/agregar_periodo">
                        <strong>¡Click Aquí para iniciar periodo contable!</strong>
                        </a>
                </div>
                <div class="card mb-3">
                        <div class="card-header">
                                <i class="fas fa-table"></i>
                                Periodo contable
                        </div>
                        <div class="card-body">
                                <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                        <tr>
                                                                <th class="text-center">#</th>
                                                                <th>Fecha inicio periodo</th>
                                                                <th>Fecha fin periodo</th>
                                                        </tr>
                                                </thead>
                                                {{#each periodocontable}}
                                                <tbody>
                                                        <tr id="ID_PERIODOCONTABLE">
                                                                <td class="text-center">{{ID_PERIODOCONTABLE}}</td>
                                                                <td>{{FECHA_PERIODO}}</td>
                                                                <td>{{FECHA_PERIODO_FINAL}}</td>                          
                                                        </tr>
                                                </tbody>
                                                {{else}}
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"></table>
                                                        <div class="alert bold alert-danger text-center" >
                                                                <strong>¡Opps! Parece que no tienes ninguna periodo contable registrada.</strong>
                                                        </div>
                                                </table>
                                                {{/each}}
                                        </table>
                                </div>
                        </div>
                </div>
        </div><!-- /.container-fluid -->
</div><!-- /.content-wrapper -->