{{> navigation }}
<div id="content-wrapper">
        <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="/contabilidad_general/estados_financieros/listado">
                                Estados Financieros
                        </a>  
                </li>
                <li class="breadcrumb-item active">Notas Explicativas</li>
                </ol>
                <!-- DataTables -->
                <div class="alert bold alert-info">
                        <i class="fas fw fa-plus-circle"></i>

                        <a href="/contabilidad_general/estados_financieros/agregar_nota_explicativa">
                        <strong>¡Click aquí para agregar una nota explicativa!</strong>
                        </a>
                </div>
                <div class="card mb-3">
                        <div class="card-header">
                                <i class="fas fa-table"></i>
                                Notas Explicativas
                        </div>
                        <div class="card-body">
                                <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                        <tr>
                                                                <th class="text-center">Identificador</th>
                                                                <th class="text-center" style="width: 40%">Nombre Nota Explicativa</th>
                                                                <th class="text-center" style="width: 40%">Descripción</th>
                                                        </tr>
                                                </thead>
                                                {{#each notasexplicativas}}
                                                <tbody>
                                                        <tr id="ID_NOTA">
                                                                <td class="text-center">{{ ID_NOTA }}</td>
                                                                <td>{{ TITULO_NOTA  }}</td>
                                                                <td>{{ DESCRIPCION_NOTA }}</td>                       
                                                        </tr>
                                                </tbody>
                                                {{else}}
                                                <div class="card card-body text-center">
                                                        <p>¡Opps! Parece que no tienes ninguna nota explicativa hasta el momento.</p>
                                                </div>
                                                {{/each}}

                                        </table>
                                </div>
                        </div>
                </div>
        </div><!-- /.container-fluid -->
</div><!-- /.content-wrapper -->
{{> footer }}
<script type="text/javascrip">
$(document).ready(function(){
        enviar();
});
        function enviar(){
                var seleccionada = $('#parametro').val();
                var url_nueva = "/contabilidad_general/estados_financieros/"+seleccionada+"/notas_explicativas/listado/agregar";
                $.ajax({
                        type: 'get',
                        url: url_nueva,
                        success: function(data){
                                console.log("SUCESS");
                        }
                });
        }
});
</script>

