<div id="iva_calculado_1" class="form-group">
        <a>Monto de IVA calculado:</a>
        <textarea rows="1" id="monto_iva" type="number" name="monto" class="form-control" disabled>{{monto}}</textarea>
</div>
