<div class="container-fluid">
        <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/contabilidad_general/catalogo">
                            Catalogo de cuentas
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Ver Cuenta</li>
                </ol>
                <div class="card mb-8 mx-auto">
                                <div class="card-header">
                                        <i class="fas fa-list"></i>
                                                Detalle cuenta
                                </div>
                                <div class="card-body">
                                        <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                        <tbody>
                                                                <tr>
                                                                        <th>Codigo cuenta:</th>
                                                                        <td>{{cuenta.CODIGO_CUENTA}}</td>
                                                                </tr>
                                                                <tr>
                                                                        <th>Nombre cuenta:</th>
                                                                        <td>{{cuenta.NOMBRE_CUENTA}}</td>
                                                                </tr>
                                                                <tr>
                                                                        <th>Naturaleza:</th>
                                                                        <td>{{cuenta.TIPO_NATURALEZA_CUETA}}</td>
                                                                </tr>
                                                                <tr>
                                                                        <th>Saldo:</th>
                                                                        <td>$0.00</td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                                <div class="form-group">
                                                        <button onclick="window.location='/contabilidad_general/catalogo/'" class="btn btn-primary btn-block">Aceptar</button>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div><!-- /.container-fluid -->
</div><!-- /.content-wrapper -->