{{> navigation }}
<div class="container-fluid">
        <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="/contabilidad_general/catalogo">
                        Catalogo de cuentas
                        </a>
                </li>
                <li class="breadcrumb-item active">Ver Cuenta</li>
        </ol>
        <div class="col-md-5 mx-auto">
                <div class="card">
                        <div class="card-header">
                                <i class="fas fa-list"></i>
                                Detalle cuenta
                        </div>
                        <div class="card-body">
                                <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <tbody>
                                                        <tr>
                                                                <th>Codigo cuenta:</th>
                                                                <td>{{cuenta.CODIGO_CUENTA}}</td>
                                                        </tr>
                                                        <tr>
                                                                <th>Nombre cuenta:</th>
                                                                <td>{{cuenta.NOMBRE_CUENTA}}</td>
                                                        </tr>
                                                        <tr>
                                                                <th>Naturaleza:</th>
                                                                <td>{{cuenta.TIPO_NATURALEZA_CUETA}}</td>
                                                        </tr>
                                                        <tr>
                                                                <th>Saldo:</th>
                                                                <td>${{cuenta.SALDO_CUENTA}}</td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                        <div class="form-group">
                                                <button onclick="window.location='/contabilidad_general/catalogo/'" class="btn btn-primary btn-block">Aceptar</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
{{> footer }}