<div class="container p-5">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Iniciar sesión</h3>
        </div>
        <!--<img src="/img/logo-systemsec.png" alt="Logo System sec" class="card-img-top mx-auto" style="max-width: 175px; max-height: 175px">-->
        <img src="/img/usuario.png" alt="Usuario" class="card-img-top mx-auto" style="max-width: 160px; max-height: 160px">
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" name="username" placeholder="Usuario" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Contraseña" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">
              Iniciar sesión
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer }}