h1{
    background: red;
}

.datepicker {
    font-size: 0.875em;
}

.results tr[visible='false'],
.no-result{
    display:none;
  }
  
  .results tr[visible='true']{
    display:table-row;
  }
  
  .counter{
    padding:8px; 
    color:#ccc;
  }