<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">ANF115</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{!-- {{#if user}} --}}
          <li class="nav-item dropdown">
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/contabilidad_general">Contabilidad General</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Costeo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Analisis Financiero</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Registrar Usuario</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Cerrar Sesion</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>