<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Analisis Financiero</title>
    {{!-- BOOSTRAP 4 --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
     {{!-- FONTAWESOME --}}
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    {{!-- DATATABLES --}}
    <link rel="stylesheet" href="/css/datatable-bootstrap4.min.css">
</head>
<body>

    {{> navigation }}
    
    {{{ body }}}

    <script src="/js/jquery-3.3.1.slim.min.js" > </script>
    <script src="/js/popper.min.js"> </script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/datatables-jquery.min.js"> </script>
    <script src="/js/datatables-boostrap4.min.js"> </script>
</body>
</html>