<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Analisis Financiero</title>
    {{!-- BOOSTRAP 4 --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
     {{!-- FONTAWESOME --}}
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    {{!-- DATATABLES --}}
    <link rel="stylesheet" href="/css/datatable-bootstrap4.min.css">
    {{!-- DATAPICKER --}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <script src="/js/jquery-3.3.1.slim.min.js" > </script>
    {{!-- sweetalert2 --}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

</head>
<body>

    {{> navigation }}
    {{{ body }}}
    {{> footer }}

    
    <script src="/js/datatables-jquery.min.js"> </script>
    <script src="/js/datatables-boostrap4.min.js"> </script>
    <script src="/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"> </script>
    <script src="/js/jquery-3.3.1.js"> </script>
    <script src="/js/popper.min.js"> </script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>